

My name is James Wen and I'm currently a junior at Columbia College majoring in Computer Science with the Software Systems track and Applications track and minoring in Business Management. I have been a Teaching Assistant for COMS W1004: Introduction to Computer Science and Programming in Java and am currently a TA for COMS W3134: Data Structures in Java. I currently work at MeeGenius Inc. as a Software Engineering Intern and am a Senior Advisor for the Columbia Asian American Alliance. On the side, I write articles and posts for the leading Electronic music blog EDMTunes.
%br
%br
I love to attend various tech meetups relating to Ruby/Rails, Cryptology, Startups, Entrepreneurship, and frequently engage in hackathons.
%br
%br
Tech-courses wise, I am currently taking Operating Systems, Programming Languages and Translators, and Fundamentals of Computer Systems.
