.about-frame.container
  = image_tag "headshot.jpg", class: "headshot-img"

  My name is James Wen and I'm currently a junior at Columbia College majoring in Computer Science in the Software Systems track. I have been a Teaching Assistant for COMS W1004: Introduction to Computer Science and Programming in Java and am currently a TA for COMS W3134: Data Structures in Java. I previously worked at Spotify as a Software Engineering Intern on the Monetization Team and at MeeGenius Inc. as a Software Engineering Intern. Currently, I am a Technical Lead for the 5-person developer team at the Spectator Publishing Company.
  %br
  %br
  I love to attend various tech meetups relating to various technologies, startups, Entrepreneurship, and frequently engage in hackathons. A few technical domains I'm currently interested in are Distributed Systems, Web Services, DevOps, and Monitoring.
  %br
  %br
  In my free time, I also love to hit up various music concerts/festivals, ski, and explore the city.
  %br
  %br
  Feel free to email me with any interesting inquiries or questions at&nbsp;
  %span>= mail_to "jrw2175@columbia.edu"
  !
