.about-frame.container
  = image_tag "headshot.jpg", class: "headshot-img"

  My name is James Wen and I'm currently a senior at Columbia College majoring in Computer Science (Software Systems track). Currently, I am a Technical Lead for the 5-person developer team at the Spectator Publishing Company. I spent my last two summers respectively at Spotify as a Software Engineering Intern on the Monetization Team and at MeeGenius Inc. as the startup's first Software Engineering Intern. I also love teaching and getting students excited and into Computer Science. I've been a Teaching Assistant for COMS W1004: Introduction to Computer Science and Programming in Java and am currently a TA for COMS W3134: Data Structures in Java.
  %br
  %br
  I love to attend various tech meetups relating to various technologies, startups, Entrepreneurship, and frequently engage in hackathons. A few technical domains I'm currently interested in are Application Development, Distributed Systems, Web Services, DevOps, and Monitoring.
  %br
  %br
  In my free time, I also love to hit up various music concerts and festivals, ski, be a fitness freak, and explore the city. One of my goals is to eventually walk every street in each borough. This summer, I hit the big ol' 30 (concerts/festivals) with the Electric Zoo festival. I think at this point that I've been to almost every concert venue or nightclub in NYC and quite a few in other states and countries as well. The closest I've come to tears in years was when Roseland Ballroom closed. My favorite genres are currently Future House, Bass House, Deep House, Tech House, Techno, and my guilty pleasures are Trap, Melodic Dubstep, and any good female-fronted rock band or singer with a set of amazing pipes. Also, Sam Smith is a legend.
  %br  
  %br
  Technology/Programming and Music completely dominate my life.
  %br
  %br
  Feel free to check out my projects detailed on this site! Also, please email me with any interesting inquiries or questions at&nbsp;
  %span>= mail_to "jrw2175@columbia.edu"
  !
