Columbia University in the City of New York (Fall 2011 - Present)
%br
%br
Relevant Coursework:
%ul
  %li
    COMS W4705: Natural Language Processing
  %li
    COMS W4995: Distributed Systems Fundamentals
  %li
    COMS W4118: Operating Systems
  %li
    COMS W4115: Programming Languages & Translators
  %li
    CSEE W3827: Fundamentals of Computer Systems
  %li
    COMS W4156: Advanced Software Engineering
  %li
    CSEE W4119: Computer Networks
  %li
    COMS W4111: Intro to Databases
  %li
    COMS W3137: Advanced Programming
  %li
    COMS W3134: Data Structures in Java
  %li
    COMS W3261: Computer Science Theory
  %li
    COMS W3203: Discrete Mathematics
  %li
    COMS W3103: Programming Languages: Ruby on Rails
  %li
    COMS W3103: Programming Languages: C++
  %li
    COMS W3103: Programming Languages: MATLAB
  %li
    COMS W3103: Programming Languages: Perl
  %li
    COMS W1007: Honors Intro to Computer Science
  %li
    COMS W1004: Intro to Computer Science and Object-Oriented Programming in Java
  %li
    ECON W1155: Principles of Economics

John P. Stevens High School (Fall 2007 - Spring 2011)
