.project-frame
  .project-title
    Webpage Analyzer
  .project-description
    Perl Module for Analyzing Webpage Source Code Elements
  .project-class
    COMS W3103: Programming Languages: Perl
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    SimpleServer
  .project-description
    Multi-threaded Server and Client
  .project-class
    CSEE W4119: Computer Networks
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    Blackjack Strategy Tester
  .project-description
    MATLAB House Edge Calculator
  .project-class
    COMS W3103: Programming Languages: MATLAB
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    Expression Tree
  .project-description
    Prefix, Infix, and Postfix Expression Converter
  .project-class
    COMS W3134: Data Structures in Java
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    World City Graph
  .project-description
    Perl analyzer of webpages
  .project-class
    COMS W3134: Data Structures in Java
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    C Server
  .project-description
    HTTP Server in C
  .project-class
    COMS W3137: Advanced Programming
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    SPRLK
  .project-description
    Java GUI for Scissors, Paper, Rock, Lizard, Spock Game
  .project-class
    COMS W1007: Honors Intro to Computer Science
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    Craps Simulator
  .project-description
    Java GUI for Craps Game
  .project-class
    COMS W1007: Honors Intro to Computer Science
  .project-link
    http://www.link.com
%br
.project-frame
  .project-title
    Collision Simulator
  .project-description
    Java Simulator for Physics - Collision of Spheres
  .project-class
    COMS W1007: Honors Intro to Computer Science
  .project-link
    http://www.link.com