@font-face {
    font-family: 'actor';
    src: font-url('actor.ttf');
    src: font-url('actor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'average';
    src: font-url('average.ttf');
    src: font-url('average.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans.ttf');
    src: font-url('OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlteHaasGrotesk';
    src: font-url('AlteHaasGrotesk.ttf');
    src: font-url('AlteHaasGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#vertical-nav {
  position:fixed;
  width: 14%;
  height: 100%;
  background-color: #393939;
  font-family: 'average';
  .nav-link {
    display: block;
    font-size: 1.1em;
    text-align: center;
    padding: 10px 5px 10px 5px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
    &:hover {
      background-color: #B81D18;
    }
  }
  .active-link {
    background-color: #004687;
  }
  #social-links {
    position: absolute;
    padding: 0 10px 0 10px;
    margin: 0 0 0 6%;
    width: 100%;
    bottom: 0;
    a {
      text-decoration: none;
      float: left;
      padding: 1px;
    }
  }
}
body {
    background-color: #F0F0F0;
    color: #202020;
    font-family: 'vg';
}
hr {
  border-top: 1px solid #C7BEBE;
}
a {
  text-decoration: none;
  color: #004687;
}
a:hover {
  text-decoration: none;
  color: #B81D18;
}

.content {
  position: fixed;
  left: 12%;
  width: 88%;
  overflow: auto;
  display: block;
  height: 100%;
  h3 {
    font-family: 'AlteHaasGrotesk';
    font-size: 2.5em;
  }
  .frame {
    font-family: 'OpenSans';
    .projects-frame {
      text-align: center;
      margin: 20px 0 0 0;
    }
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    text-align: left;
    display: block;
    width: 90%;
    .project-frame {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: inline-block;
      margin: 0 0 20px 0;
      a {
        text-decoration: none;
        color: inherit;
      }
      a:hover {
        color: #B81D18;
      }
      .project-title {
        font-size: 2em;
      }
      .project-description {
        font-size: 1.2em;
      }
      .project-link {
      }
    }
    .project-show-frame {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      .project-details-frame {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        .project-title {
          font-family: 'AlteHaasGrotesk';
          font-size: 3em;
        }
      }
    }
    form {
      padding: 0 0 0 65px;
      .row {
        margin: 0 0 0 0;
        padding: 10px 0 10px 0;
        .col {
          display: block;
          padding: 0 40px 0 0;
          float: left;
          .image-input {
            width: 200px;
          }
          .btn {
            margin-bottom: 15px;
            padding: 6px 12px 6px 12px;
          }
          .source-link {
            vertical-align: middle;
          }
          a {
            img {
              float: left;
            }
          }
        }
      }      
    }
    .about-frame {
      width: 80%;
      .headshot-img {
        float: left;
        padding: 0 20px 20px 0;
      }
    }
  }
  .copyright {
    font-family: 'OpenSans';
    font-size: 13px;
    padding: 20px 0 20px 0;
  }
}