#vertical-nav {
  position:fixed;
  width: 12%;
  height: 100%;
  background-color: white;
  .nav-link {
    display: block;
    text-align: center;
    padding: 10px 5px 10px 5px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
    &:hover {
      border: solid;
      background-color: #129793;
    }
  }
  .active-link {
    border: solid;
    background-color: #7E8AA2;
  }
  #social-links {
    position: absolute;
    padding: 0 10px 0 10px;
    width: 100%;
    bottom: 0;
    a {
      text-decoration: none;
      float: left;
      padding: 1px;
    }
  }
}

.content {
  position: fixed;
  left: 12%;
  width: 88%;
  overflow: auto;
  display: block;
  height: 100%;

  .frame {
    .projects-frame {
      text-align: center;
      margin: 20px 0 0 0;
    }
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    text-align: left;
    display: block;
    width: 90%;
    .project-frame {
      display: inline-block;
      margin: 0 0 20px 0;
      a {
        text-decoration: none;
        color: inherit;
      }
      a:hover {
        color: red;
      }
      .project-title {
        font-size: 2em;
      }
      .project-description {
        font-size: 1.2em;
      }
      .project-link {
      }
    }
    .project-show-frame {
      .project-details-frame {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        .project-title {
          font-size: 2em;
        }
        .project-category {
          font-size: 1em;
        }
        .project-modifier {
          font-size: 1em;
        }
        .project-site {
          font-size: 1em;
        }
        .project-github {
          font-size: 1em;
        }
        .project-download {
          font-size: 1em;
        }
        .project-description {
          font-size: 1em;
        }
      }
    }
    form {
      padding: 0 0 0 65px;
      .row {
        margin: 0 0 0 0;
        padding: 10px 0 10px 0;
        .col {
          display: block;
          padding: 0 40px 0 0;
          float: left;
          .image-input {
            width: 200px;
          }
          .btn {
            margin-bottom: 15px;
            padding: 6px 12px 6px 12px;
          }
          .source-link {
            vertical-align: middle;
          }
          a {
            img {
              float: left;
            }
          }
        }
      }      
    }
  }
  .copyright {
    padding: 20px 0 20px 0;
  }
}